@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: yellowgreen;
    z-index: 99;
}
.logo {
    color: #ededed;
    font-size: 35px;
    line-height: 60px;

    padding: 0 20px;
    font-weight: 600;
}
nav ul {
    float: right;
    margin-right: 20px; 
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a {
    color: #ededed;
    font-weight: 600;
    font-size: 17px;
}
.checkbtn {
    font-size: 30px;
    color: #ededed;
    float: right;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.section {
    margin-top: 60px;
}
.container {
    min-height: 100vh - 60px;
    margin: 5rem 5rem 5rem 5rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle {
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: .5rem;
}
.title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.description {
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.btn-box {
    display: flex;
    gap: 1rem;
}
.btn-box a{
    font-size: 1rem;
    font-weight: 600;
    color: black;
    border: black solid;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    outline: none;
    padding: 1rem 2rem;
}
.home-sci {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 2rem;
}
.home-sci a {
    font-size: 2.5rem;
    position: relative;
    display: inline-flex;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid black;
    border-radius: 100%;
}
.image {
    display: grid;
    place-items: center;
}
.image img {
    width: min(25rem, 90%);
    border-radius: 50%;
}
@media (width < 750px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        opacity: 0.8;
    }
    nav ul li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .container {
        padding: 3rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .image {
        grid-area: 1/1/2/2;
    }
    .btn-box {
        margin: auto;
    }
}